doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/styles.css')
    link(rel="shortcut icon" type="image/png" href="/images/avatar.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body
    block content      
    block scripts
      script(src="/dist/bundle.js")
